<div class="container" style="height: 100%;min-height: 100%;">
    <link rel="stylesheet" href="css/cover.css"/>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                <div class="inner cover">
                    <h1><i class="fa fa-cutlery fa-3x"></i></h1>
                    <h1 class="cover-heading">Eatery welcomes you</h1>
                    <p class="lead">We are one of the finest restaurants in the city, serving wide range of food items from all over the world. We have take away as well as delivery service. We are open 24-7</p>
                    <p class="lead">
                        <a href="reservation" class="btn btn-lg btn-default">Make a reservation</a>
                    </p>
                </div>

            </div>

            <div class="arrow">
                <i class="fa fa-angle-down fa-3x pointer" data-direction="down" data-scroll-to-map></i>
            </div>
        </div>
    </div>

    <div>
        <div id="map" data-my-map>

        </div>
    </div>


</div>

