<link rel="stylesheet" href="static/css/cover.css"/>
<div class="container">
    <div class="cover">
        <div class="inner-cover">
            <h1><i class="fa fa-cutlery fa-3x"></i></h1>
            <h1 class="cover-heading">Eatery welcomes you</h1>
            <p class="lead">We offer one of the best food delivery services in the city, linking large number of restaurants. We have take away as well. We are open 24-7. Get your first free delivery now.</p>
            <p class="lead">
                <a href="#/reservation" class="btn btn-lg btn-default"><i class="fa fa-shopping-cart"></i> Tell us your order</a>
            </p>
            <p class="arrow">
            	<i class="fa fa-angle-down fa-2x pointer" data-direction="down" data-scroll-to-map></i>
            </p>
        </div>
    </div>
</div>
