<div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 ">
        <div>
            <h2 class="text-center page-heading">Make a reservation</h2>
        </div>
        <div>
            <form role="form" name="resvnCtrl.form" data-ng-submit="resvnCtrl.submitForm(resvnCtrl.form.$valid)" novalidate>

                <div class="form-group" data-ng-class="{ 'has-error': resvnCtrl.form.name.$invalid && (resvnCtrl.form.name.$dirty || resvnCtrl.form.$submitted) }">
                    <label class="control-label">Your Name</label>
                    <input type="text" name="name" id="name" data-ng-model="resvnCtrl.reservation.name"
                           placeholder="Enter Name" class="form-control" autocomplete="off"
                           required data-ng-minlength="4" >
                    <div data-ng-messages="resvnCtrl.form.name.$error" data-ng-if="resvnCtrl.form.name.$dirty || resvnCtrl.form.$submitted">
                        <p class="help-block" data-ng-message="required">Name required</p>
                        <p class="help-block" data-ng-message="minlength">Name must be at least 4 characters</p>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error':resvnCtrl.form.email.$invalid && (resvnCtrl.form.email.$dirty || resvnCtrl.form.$submitted) }">
                    <label class="control-label">Email address</label>
                    <input type="email" name="email" id="email" data-ng-model="resvnCtrl.reservation.email"
                           placeholder="Enter Email Id" class="form-control" autocomplete="off" required>
                    <div data-ng-messages="resvnCtrl.form.email.$error" data-ng-if="resvnCtrl.form.email.$dirty || resvnCtrl.form.$submitted">
                        <p class="help-block" data-ng-message="required">Email required</p>
                        <p class="help-block" data-ng-message="email">Not a valid email</p>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error':resvnCtrl.form.phone.$invalid && (resvnCtrl.form.phone.$dirty || resvnCtrl.form.$submitted) }">
                    <label class="control-label">Phone Number</label>
                    <input type="text" name="phone" id="phone" data-ng-model="resvnCtrl.reservation.phone"
                           placeholder="Enter Phone Number" class="form-control" autocomplete="off"
                            required  data-ng-pattern="/^[0-9]{10}$/">
                    <div data-ng-messages="resvnCtrl.form.phone.$error" data-ng-if="resvnCtrl.form.phone.$dirty || resvnCtrl.form.$submitted">
                        <p class="help-block" data-ng-message="required">Phone number required</p>
                        <p class="help-block" data-ng-message="pattern">Not a valid phone number</p>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error':resvnCtrl.form.time.$invalid && (resvnCtrl.form.time.$dirty || resvnCtrl.form.$submitted) }">
                    <label class="control-label">Date-Time</label>
                    <div class='input-group date' id='datetimepicker'>
                        <input type="text" name="time" id="time" data-ng-model="resvnCtrl.reservation.time"
                               placeholder="Enter Desired Time" class="form-control" data-date-picker required>
                        <span class="input-group-addon pointer">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    <div data-ng-messages="resvnCtrl.form.time.$error" data-ng-if="resvnCtrl.form.time.$dirty && (resvnCtrl.form.time.$invalid || resvnCtrl.form.$submitted)">
                        <p class="help-block" data-ng-message="required">Date and Time required</p>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error':resvnCtrl.form.seats.$invalid && (resvnCtrl.form.seats.$dirty || resvnCtrl.form.$submitted) }">
                    <label class="control-label">Seats desired</label>
                    <input type="number" min="1" name="seats" id="seats" data-ng-model="resvnCtrl.reservation.seats"
                           placeholder="Enter required seats"  class="form-control"
                           required data-ng-min="1">
                    <div data-ng-messages="resvnCtrl.form.seats.$error" data-ng-if="resvnCtrl.form.seats.$dirty || resvnCtrl.form.$submitted">
                        <p class="help-block" data-ng-message="required">Seat count required</p>
                        <p class="help-block" data-ng-message="min">Reserve at least 1 seat</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Special Note</label>
                    <input type="text" name="note" id="note" data-ng-model="resvnCtrl.reservation.note" placeholder="Special note" class="form-control">
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <input type="submit" name="submit" id="submit" value="Make Reservation" class="btn btn-primary btn-block " >
                    </div>
                    <div class="col-sm-4">
                        <input type="button" name="reset" id="reset" value="Reset Form" data-ng-click="resvnCtrl.resetForm()" class="btn btn-primary btn-block">
                    </div>
                </div>

                <div class="form-group col-sm-12 text-center small-vertical-top-margin">
                    <a href="#" id="edit_reservation" class="dotted-underline">Edit or delete reservation?</a>
                </div>

            </form>
        </div>
    </div>
</div>
