<section id="customer_section">
    <section-head>
        <img src="Images/booking-32.png">
        <span>Make a reservation</span>
    </section-head>
    <section-body>
        <div id="preference">
            <div id="setting">
                <span>save preferences</span>
                <input id="switch"  type="checkbox">
                <label for="switch"></label>
            </div>
        </div>
        <form action="#" novalidate>

            <div>
                <input type="text" name="firstname" id="firstname" placeholder="   First Name" class="txtf" autocomplete="off">
            </div>
            <div>
                <input type="text" name="lastname" id="lastname" placeholder="   Last Name" class="txtf" autocomplete="off">
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="   Email Id" class="txtf" autocomplete="off">
            </div>
            <div>
                <input type="email" name="confirmemail" id="reemail" placeholder="   Confirm email" class="txtf" autocomplete="off">
            </div>
            <div>
                <input type="text" name="phone" id="phone" placeholder="   Phone Number" class="txtf" autocomplete="off">
            </div>
            <div>
                <input type="text" name="date" id="date" onfocus="(this.type='date')" onblur="this.type='text'"  placeholder="   Date  YYYY-MM-DD" class="txtf" >
                <input type="text" name="time" id="time" placeholder="   Time (17:30)" onfocus="(this.type='time')" onblur="this.type='text'" class="txtf" >
            </div>
            <div>
                <input type="number" min="1" name="tables" id="tables"  placeholder="   Total tables" class="txtf" >
                <input type="number" min="1" name="seats" id="seats" placeholder="   Seat per tab"  class="txtf" >
            </div>
            <div>
                <input type="text" name="note" id="note" placeholder="   Special note" class="txtf">
            </div>

            <div style="margin-bottom: 25px;margin-top: 25px;">
                <input type="button" name="submit" id="submit" value="submit" class="buttonclass" >
                <input type="reset" name="reset" id="reset" value="reset" class="buttonclass" style="margin-right: 0px;">
            </div>

            <div>
                <a href="#" id="edit_reservation">Edit or delete reservation?</a>
            </div>
        </form>
    </section-body>
</section>