<table id="reservation_tab" class="display responsive nowrap" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>CNF #</th>
        <th>Name</th>
        <th>Date & Time</th>
        <th>Table #</th>
        <th>Deatils</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>12345</td>
        <td>Lokesh</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    <tr>
        <td>12345</td>
        <td>Lokesh Cherukuri</td>
        <td>2015-01-01 09:00</td>
        <td>1</td>
        <td><input type="button" value="Deatils"> </td>
    </tr>
    </tbody>
</table>