<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" href="//cdn.datatables.net/responsive/1.0.3/css/dataTables.responsive.css">







        <div class="tab-content">
            <div id="active_watching" class="tab-pane fade in active">
                <table class="table table-hover table-condensed">
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-2">Event Name</th>
                        <th class="col-md-1">Created by</th>
                        <th class="col-md-1">Environment</th>
                        <th class="col-md-3">Description</th>
                        <th class="col-md-2">Expected start</th>
                        <th class="col-md-1">status</th>
                        <th class="col-md-1"></th>
                    </tr>
                </table>
            </div>


            <div id="completed_watching" class="tab-pane fade">
                <table class="table table-hover table-condensed">
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-2">Event Name</th>
                        <th class="col-md-1">Created by</th>
                        <th class="col-md-3">Description</th>
                        <th class="col-md-2">Expected start</th>
                        <th class="col-md-1">status</th>
                    </tr>
                </table>
            </div>

        </div>





<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>