<section id="owner_section">
    <section-head>
        <img src="Images/login-32.png">
        <span>Login as Owner</span>
    </section-head>
    <section-body>
        <form action="owner.html" method="post">

            <div>
                <input type="email" name="email" id="email" placeholder="   Email Id" class="txtf">
            </div>

            <div>
                <input type="password" name="password" id="password" placeholder="   Password" class="txtf">
            </div>

            <div style="margin-bottom: 25px;margin-top: 25px;">
                <input type="submit" id="submit" value="Login" class="buttonclass" >
                <input type="reset" id="reset" value="reset" class="buttonclass" style="margin-right: 0px;">
            </div>

            <div>
                <a href="#" style="font-size: 20px;text-decoration:none;border-bottom: 1px dotted;">Forgot password?</a>
            </div>
        </form>
    </section-body>
</section>
